<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tao.dao.DeliverRecordMapper">
    <insert id="addDeliverRecord">
        insert into deliverrecord
        (dl_rc_id,dl_v_id,dl_rs_id,dl_status,dl_delivertime,dl_interviewtime,dl_interviewplace,dl_worktime)
        VALUES (#{recruit.id},#{visitor.id},
        #{resume.id},#{status},#{dilivertime},#{interviewtime},#{interviewplace},#{worktime})
    </insert>
    <update id="updateDeliverRecord">
        update deliverrecord SET dl_id=#{id},dl_v_id=#{visitor.id},dl_rs_id=#{resume.id}
        ,dl_delivertime=#{delivertime},dl_interviewtime=#{interviewtime}
        ,dl_interviewplace=#{interviewplace},dl_worktime=#{worktime},dl_status=#{status}
        where dl_id=#{id}
    </update>
    <select id="getNewDeliverRecord" resultMap="DeliverAndVisitorAndResumeAndRecruit">
        select dl.dl_id,dl.dl_delivertime,dl.dl_status,v.v_id,
        rc.rc_id rc_id,rs.r_id,rs.r_name,rc.rc_dept,rc.rc_position
        from deliverrecord dl,visitor v,recruit rc,resume rs
        where dl.dl_status=0
        and dl.dl_rc_id=rc.rc_id
        and dl.dl_rs_id=rs.r_id
        and dl.dl_v_id=v.v_id
    </select>
    <select id="getDeliverRecordById" parameterType="int" resultMap="DeliverAndVisitorAndResumeAndRecruit">
        SELECT * from deliverrecord dl,visitor v,recruit rc,resume rs
        where dl.dl_id=${value}
        and dl.dl_rc_id=rc.rc_id
        and dl.dl_rs_id=rs.r_id
        and dl.dl_v_id=v.v_id
    </select>
    <select id="getDeliversInterview" resultMap="DeliverAndVisitorAndResumeAndRecruit">
        SELECT * from deliverrecord dl,visitor v,recruit rc,resume rs
        where dl.dl_status=1
        and dl.dl_rc_id=rc.rc_id
        and dl.dl_rs_id=rs.r_id
        and dl.dl_v_id=v.v_id
    </select>
    <select id="getSelfDeliverRecords" resultMap="DeliverAndVisitorAndResumeAndRecruit">
         SELECT * from deliverrecord dl,visitor v,recruit rc,resume rs
        where v.v_id=${value}
        and dl.dl_rc_id=rc.rc_id
        and dl.dl_rs_id=rs.r_id
        and dl.dl_v_id=v.v_id
    </select>
    <resultMap id="DeliverAndVisitorAndResumeAndRecruit" type="DeliverRecord">
        <id property="id" column="dl_id"/>
        <result property="delivertime" column="dl_delivertime"/>
        <result property="interviewtime" column="dl_interviewtime"/>
        <result property="interviewplace" column="dl_interviewplace"/>
        <result property="status" column="dl_status"/>
        <result property="worktime" column="dl_worktime"/>
        <association property="visitor" column="dl_v_id" javaType="Visitor">
            <id property="id" column="v_id"></id>
            <result property="username" column="v_username"/>
            <result property="password" column="v_password"/>
        </association>
        <association property="resume" column="dl_rs_id" javaType="Resume">
            <id property="id" column="r_id"/>
            <result property="name" column="r_name"/>
            <result property="sex" column="r_sex"/>
            <result property="age" column="r_age"/>
            <result property="school" column="r_school"/>
            <result property="major" column="r_major"/>
            <result property="tel" column="r_tel"/>
            <result property="email" column="r_email"/>
            <result property="jobintention" column="r_jobintention"/>
        </association>
        <association property="recruit" column="dl_rc_id" javaType="Recruit">
            <id property="id" column="rc_id"/>
            <result property="dept" column="rc_dept"></result>
            <result property="position" column="rc_position"/>
        </association>
    </resultMap>
</mapper>