<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tao.dao.EmployeeMapper">

    <insert id="addEmployee">
        insert into employee (e_username,e_password,e_truename,e_salary,e_age,e_sex,
        e_status,e_p_id,e_email,e_tel)
        VALUE (#{username},#{password},#{truename},#{salary},#{age},#{sex},#{status},#{positionId}
        ,#{email},#{tel})
    </insert>
    <select id="getEmployeeByUserNameAndPassword" resultMap="Employee">
        select * from employee
    </select>
    <resultMap id="Employee" type="Employee">
        <id property="id" column="e_id"/>
        <result property="tel" column="e_tel"/>
        <result property="email" column="e_email"/>
        <result property="positionId" column="e_p_id"/>
        <result property="status" column="e_status"/>
        <result property="sex" column="e_sex"/>
        <result property="age" column="e_age"/>
        <result property="salary" column="e_salary"/>
        <result property="truename" column="e_truename"/>
        <result property="username" column="e_username"/>
        <result property="password" column="e_password"/>
    </resultMap>
</mapper>