<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tao.dao.PositionMapper">

    <select id="getAllByDid" resultMap="PositionAndDept">
        select p.p_id,p.p_name,p.p_salary,d.d_id,d.d_name from position p,dept d
        where d.d_id=#{did}
        and p.p_d_id=d.d_id
    </select>
    <select id="getById" resultMap="PositionAndDept">
        select p.p_id,p.p_name,p.p_salary,d.d_id,d.d_name from position p,dept d
        where p.p_id=#{id}
        and p.p_d_id=d.d_id
    </select>
    <resultMap id="PositionAndDept" type="Position">
        <id property="id" column="p_id"/>
        <result property="name" column="p_name"/>
        <result property="salary" column="p_salary"/>
        <association property="dept" column="p_d_id" javaType="Dept">
            <id property="id" column="d_id"/>
            <result property="name" column="d_name"/>
        </association>
    </resultMap>
</mapper>