<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tao.dao.RecruitMapper">
    <delete id="deleteRecruit">
        delete from recruit where id=#{id}
    </delete>

    <select id="getAllRecruit" resultType="com.tao.model.Recruit">
        SELECT rc_id id,rc_dept dept,rc_position position ,rc_status status,rc_desc desc1
        from recruit
        where rc_status=0
    </select>
    <resultMap id="RecruitAndPositionAndDept" type="Recruit">
        <id property="id" column="r_id"></id>
        <result property="desc1" column="r_desc"/>
        <!--<association property="dept" -->
    </resultMap>
    <select id="getOneRecruitById" resultType="com.tao.model.Recruit">
        SELECT * from recruit where id=#{id}
    </select>
</mapper>