<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tao.dao.VisitorMapper">
    <insert id="addVisitor">
        insert into visitor(v_username,v_password) VALUES (#{username},#{password})
    </insert>

    <!--<select id="getByNameAndPass" resultMap="getVisitor">-->
      <!--SELECT v_username from visitor where v_username=#{username} and v_password=#{password}-->
    <!--</select>-->
    <!--<resultMap id="getVisitor" type="Visitor">-->
        <!--<id property="id" column="v_id"></id>-->
        <!--<result property="username" column="v_username"/>-->
        <!--<result property="password" column="v_password"/>-->
    <!--</resultMap>-->
    <select id="getByNameAndPass" resultType="Visitor">
        SELECT v_id id,v_username username,v_password password from visitor
        where v_username=#{username} and v_password=#{password}
    </select>
    <select id="getAllVisitor" resultType="com.tao.model.Visitor">
        SELECT v_id id,v_username username,v_password password from visitor;
    </select>
    <select id="getVisitorById" resultType="com.tao.model.Visitor">
        select * from visitor where id=#{id}
    </select>
</mapper>